.Logo{
    display: inline-block;
    font-family: 'Pacifico', cursive;
    color: var(--color-black);
    font-size: 1.8rem;
    font-weight: bold;
    position: fixed;
    left: 1rem;
    top: 1rem;
    z-index: 3;
}