.pHome{
    position: absolute;
    top: 50%;
    left: calc(1rem + 2vw);
    transform: translate(-50%, -50%) rotate(-90deg) ;
    text-decoration: none;
    z-index: 1;
}

.portfolio__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__items:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-img{
    display: flex;
    border-radius: 1.5rem;
    overflow: hidden;
    width: auto;
    /* max-height: 340px; */
    height: 340px;
    background-color: black;
    align-items: center;
    
}

.portfolio__item h3{
margin: 1.2 0 2rem;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


/* media query med */
@media screen and (max-width: 1024px){
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;

    }
}

/* media query small */
@media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 0rem 3.5rem;
    }
}
    
